html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
}

* {
    box-sizing: border-box;
  }

.tagline {
  padding-top: 3rem;
}

.form-group {
  padding-left: 2em;
  padding-right: 2em;
}

.div.row.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}


/*rules for all screens*/
.container {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    margin-left: auto;
    margin-right: auto;

}




 

  